.home-page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.nav-bar {
  width: 100%;
  border-bottom: solid 1px #efefef;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 10px;
}

.home-body {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.home-convo-list {
  width: 30%;
  max-width: 420px;
  min-width: 300px;
  border-right: solid 1px #dedede;
  overflow: scroll;
}

.home-right-side {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 14px;
}

.home-message-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 20px;
  flex-grow: 1;
  align-items: center;
}

.home-input-container {
  border-top: solid 1px #dedede;
}

.home-input {
  font-size: 14px;
  padding: 16px;
  width: 100%;
}
