.message {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: black;
  margin-bottom: 10px;
  max-width: 70%;
  flex-grow: 1;
  flex-shrink: 0;
}

.message-sent {
  align-self: flex-end;
}

.message-received {
  align-self: flex-start;
}

.message-text {
  word-wrap: break-word;
  width: 100%;
}

.message-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-radius: 20px;
  flex-grow: 1;
  width: 100%;
}

.message-image {
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  align-self: center;
}

.messsage-image-icon {
  background: white;
  padding: 4px;
  border-radius: 8px;
  color: #9e9e9e;
  display: flex;
  cursor: pointer;
}

.message.message-received .message-content {
  color: black;
  background-color: #dedede;
}

.message.message-sent .message-content {
  background-color: #66bb6a;
  color: white;
}

.message-pending-mark {
  width: 12px;
  height: 12px;
  font-size: 8px;
  flex-shrink: 0;
  border: solid 1px #66bb6a;
  border-radius: 50%;
  text-align: center;
  color: #66bb6a;
  margin-left: 4px;
}

.message-pending-mark--sent {
  background-color: #66bb6a;
  color: white;
}
