.nav-bar {
  width: 100%;
  border-bottom: solid 1px #efefef;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.nav-bar-title {
  flex-grow: 1;
}

.nav-bar-right-side {
  display: flex;
  align-items: center;
}

.nav-bar-user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  border: solid 1px rgba(0, 0, 0, 0.3);
}
