.nav-bar {
  width: 100%;
  border-bottom: solid 1px #efefef;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.nav-bar-title {
  flex-grow: 1;
}
